<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">EntityView v0.2</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<div class="vertically-stretched">
    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav flex-column" style="background:#505050">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Start Page
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="companies">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Companies
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="users">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Users
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="factories">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Factories
                </NavLink>
            </li>
        </ul>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
